<header>

  <a ng-href="#/worlds" id="logo">
    <h1>Worlds</h1>
    <h2>Unimaginable</h2>
  </a>

  <nav>
    <ul>
      <li><a ng-class="{ selected : selectedLink(1) }" ng-click="selectLink(1)" href="#/worlds">All Worlds</a></li>
      <li><a ng-class="{ selected : selectedLink(2) }" ng-click="selectLink(2)" >Fantasy</a></li>
      <li><a ng-class="{ selected : selectedLink(3) }" ng-click="selectLink(3)" >Sci-fi</a></li>
      <li><a ng-class="{ selected : selectedLink(4) }" ng-click="selectLink(4)" >Add World</a></li>
      <li><a ng-class="{ selected : selectedLink(5) }" ng-click="selectLink(5)" href="#/contact">Contact</a></li>
    </ul>
  </nav>

</header>