<section id="page-contact">

  <h3>Contact</h3>

  <section id="primary">
    <img src="img/PlanescapeTorment_C.jpg" alt="Company Logo">
  </section>

  <section id="secondary">
    <p>
      We all love our world, but it doesn't stop us right? We also strive to discover something new, always look around the corner,
      always in anticipation of something wonderful! So this is it. It is not about new places, although there are plenty of them,
      it's even not about new experiences, though you will find them in multitude, it all about new worlds!
    </p>
    <p>If you have any questions or propositions, please contact us during business hours on week days!</p>
    <ul class="contact-info">
      <li class="phone"><a href="tel:555-6425">555-6425</a></li>
      <li class="mail"><a href="mailto:worlds@example.com">worlds@example.com</a></li>
      <li class="twitter"><a href="http://twitter.com/intent/tweet?screen_name=worlds">@worlds</a></li>
    </ul>
  </section>

</section>