/**********************************************************
GLOBAL
***********************************************************/

body {
  color: #555;
  font-family: 'Cabin Condensed', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'IM Fell Double Pica', serif;
}



/**********************************************************
HEADER
***********************************************************/




/**********************************************************
HEADER - NAV
***********************************************************/




/**********************************************************
FOOTER
***********************************************************/

footer {
  clear: both;
  text-align: center;
  font-size: 0.75em;
  padding-top: 2em;
}
.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 3px;
}



/**********************************************************
PAGE: WORLDS
***********************************************************/




/**********************************************************
PAGE: CONTACT
***********************************************************/