/**********************************************************
MAIN WRAPPER
***********************************************************/

@media screen and (min-width: 800px) {

  #main-wrapper {
    width: 65%;
    margin: 0 7.5%;
  }
}



/**********************************************************
PAGE: WORLDS
***********************************************************/

@media screen and (min-width: 650px) {

  #main-wrapper input[type='search'] {
    width: 75%;
  }

  #main-wrapper main-list ul li {
    display: inline-block;
    width: 45%;
    height: 25%;
    padding: 0.5em;
    margin: 1%;
  }

  #main-wrapper main-list ul li:nth-child(odd) {
    margin-left: 0;
  }
}

@media screen and (min-width: 800px) {

  #main-wrapper input[type='search'] {
    width: 80%;
  }
}

@media screen and (min-width: 1000px) {

  #main-wrapper main-list ul li {
    width: 29%;
  }

  #main-wrapper main-list ul li:nth-child(3),
  #main-wrapper main-list ul li:nth-child(5) {
    margin-left: 1%;
  }

  #main-wrapper main-list ul li:nth-child(4) {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {

  #main-wrapper input[type='search'] {
    width: 85%;
  }

  #main-wrapper main-list ul li {
    width: 21%;
  }

  #main-wrapper main-list ul li:nth-child(4) {
    margin-left: 1%;
  }

  #main-wrapper main-list ul li:nth-child(5) {
    margin-left: 0;
  }

}

@media screen and (min-width: 1600px) {

  #main-wrapper main-list ul li {
    width: 16%;
  }

  #main-wrapper main-list ul li:nth-child(5) {
    margin-left: 1%;
  }

}



/**********************************************************
PAGE: CONTACT
***********************************************************/

@media screen and (min-width: 800px) {

  #page-contact #primary {
    display: inline-block;
    width: 30%;
    float: left;
  }

  #page-contact #secondary {
    display: inline-block;
    width: 65%;
    float: right;
  }
}

@media screen and (min-width: 900px) {

  #page-contact #primary {
    width: 20%;
  }

  #page-contact #secondary {
    width: 75%;
  }
}